@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .gradient-text {
    background: linear-gradient(
      to right,
      #a855f7,
      #ec4899,
      #eab308,
      #ec4899,
      #a855f7,
      #ec4899,
      #eab308
    );
    background-size: 300% 300%;
    background-clip: text;
  }
}
